/* Main card styles */
.card {
  position: relative;
  width: 300px;
  margin: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
  perspective: 1000px;
  border: 2px solid transparent;
  display: inline-block; /* Ensure cards are inline-block */
  vertical-align: top; /* Align cards to the top */
}

/* 3D tilt effect */
.card:hover {
  transform: scale(1.05) rotateY(10deg) rotateX(10deg);
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.3);
  border: 2px solid #93a267;
  border-image: linear-gradient(135deg, #93a267, #ffffff);
  border-image-slice: 1;
}

/* Image styles */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover img {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Info section styles */
.info {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  transition: background 0.3s, transform 0.3s;
  position: relative;
}

/* Slide-up animation for text */
.info h2,
.info p {
  position: relative;
  transition: color 0.3s, transform 0.3s;
  transform: translateY(20px);
  opacity: 0;
}

.card:hover .info h2,
.card:hover .info p {
  transform: translateY(0);
  opacity: 1;
}

.info h2 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card:hover .info h2 {
  color: #93a267;
}

.info p {
  margin: 10px 0;
  color: #666;
}

.card:hover .info p {
  color: #333;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 15px rgba(147, 162, 103, 0.5);
}

/* Glow effect on button */
.button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(122, 133, 75, 0.8);
}

.button a {
  color: #fff;
  text-decoration: none;
}

/* Ripple effect on button click */
.button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.6s, opacity 0.6s;
}

.button:active::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}


/* Shadow pulse effect */
@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 10px rgba(147, 162, 103, 0.5);
  }
  50% {
    box-shadow: 0 0 25px rgba(147, 162, 103, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(147, 162, 103, 0.5);
  }
}

.card:hover {
  animation: shadowPulse 1.5s infinite;
}

/* Container for cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
}
